<div class="mb-3">
    <label for="input{{type}}" class="form-label">
        {{label}}
    </label>
    <input
        type="{{type}}"
        class="form-control"
        id="input{{type}}"
        name="{{name}}"
        required
    />
</div>